<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/moneytransfer_db</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>arturo</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>benedetti</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>Checker</filter-name>
        <filter-class>it.polimi.tiw.filters.Checker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Checker</filter-name>
        <url-pattern>/AddAccount</url-pattern>
        <url-pattern>/AddToContacts</url-pattern>
        <url-pattern>/FindContacts</url-pattern>
        <url-pattern>/GetConti</url-pattern>
        <url-pattern>/GetContiContatto</url-pattern>
        <url-pattern>/GetDettaglioConto</url-pattern>
        <url-pattern>/TransactionResult</url-pattern>
        <url-pattern>/TransferMoney</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>